.navbar {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  gap: 40px;
  width: auto;
  overflow: hidden;
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0;
  padding-right: 5%;
  justify-content: end;
  font-weight: 500;
}
.nav-wrapper {
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--border-bottom);
  display: flex;
  width: 100%;
  justify-content: end;
  background-color: white;
}

.navbar li {
  position: relative;
  cursor: pointer;
  padding-bottom: 4px;
  overflow: hidden;
}

#burger-menu {
  margin-right: 20px;
  cursor: pointer;
}

.navbar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Start with no width */
  height: 2.5px;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

.navbar li:hover::after {
  width: 100%; /* Increase width on hover */
}

@media (min-width: 780px) {
  #burger-menu {
    display: none;
  }
}

@media (max-width: 780px) {
  .navbar {
    display: none;
  }
}
