.main-content {
  width: min(96%, 600px);
  /* margin-bottom: 10%; */
  padding: 50px;
}

.main-wrapper {
  background: radial-gradient(
    circle,
    rgb(222, 232, 253) 0%,
    hsla(0, 0%, 100%, 1) 60%
  );
  margin-top: -40px;
  height: calc(100vh - 80px);
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
}
.main-content h1 {
  margin-bottom: 10px;
}

.main-content section {
  margin: 20px 0px;
}

.main-content h4 {
  margin: 10px 0px;
}

.latest-work {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px;
}

@media (max-width: 750px) {
  .main-wrapper {
    flex-flow: column-reverse;
  }
}
