.main-content {
  width: min(96%, 600px);
  /* margin-bottom: 10%; */
  padding: 50px;
}

.main-wrapper {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 60%, 0.08),
    hsla(228, 69%, 91%, 0.608),
    hsla(228, 69%, 91%, 0.158)
  );
  /* background: radial-gradient(
    circle,
    rgb(234, 222, 253) 0%,
    hsla(0, 0%, 100%, 1) 60%
  ); */
  /* background: radial-gradient(circle, rgb(240, 244, 251) 0%, #d9dff8 60%); */
  margin-top: -40px;
  height: calc(100vh - 40px);
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-bottom);
  /* background-image: url("../../assets/images/bg1.svg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; */
}
.main-content h1 {
  margin-bottom: 10px;
}

.main-content section {
  margin: 20px 0px;
}

.main-content h4 {
  margin: 10px 0px;
}

.latest-work {
  border: 1px solid grey;
  border-radius: 6px;
  padding: 20px;
}

@media (max-width: 750px) {
  .main-wrapper {
    flex-flow: column-reverse;
    height: 770px;
  }
}
